/**
  * "Display" TRUMPS - ITCSS Methodology
  *
  * All styles that must always trump all other styles. Therefor, they all have the !important tag attached to them.
  *
  **/


.is-display-inline-block
  display: inline-block !important

.is-display-block
  display: block !important

.is-display-inline
  display: inline !important

.is-display-flex
  display: flex !important

.is-display-inline-flex
  display: inline-flex !important

.is-display-inline-table
  display: inline-table !important

.is-display-list-item
  display: list-item !important

.is-display-run-in
  display: run-in !important

.is-display-table
  display: table !important

.is-display-table-caption
  display: table-caption !important

.is-display-table-column-group
  display: table-column-group !important

.is-display-table-header-group
  display: table-header-group !important

.is-display-table-footer-group
  display: table-footer-group !important

.is-display-table-row-group
  display: table-row-group !important

.is-display-table-cell
  display: table-cell !important

.is-display-table-column
  display: table-column !important

.is-display-table-row
  display: table-row !important

.is-display-none
  display: none !important
