// "list-style-type" TRUMPS - ITCSS Methodology


.is-list-style-type-circle
  list-style-type: circle !important

.is-list-style-type-disc
  list-style-type: disc !important

.is-list-style-type-none
  list-style-type: none !important

.is-list-style-type-square
  list-style-type: square !important
