// "anchor" ELEMENTS - ITCSS Methodology


a
  transition: all .15s linear
  color: $primary-color

  &:focus
    outline: 0

  &:hover,
  &:active
    color: $secondary-color

  &:hover
    cursor: pointer
