// "Fonts" TOOLS - ITCSS Methodology


=Sample-Font($important: false)
  $important-rule: if( $important, !important, null )

  font-family: sans-serif $important-rule
  font-style: normal $important-rule
  font-weight: 400 $important-rule
