/**
  * "Text Size" TOOLS - ITCSS Methodology
  *
  * Mixins and functions that are used to make it easy to apply commonly used code chunks and logic to the other elements.
  *
  **/



// text-size MAXIMUM
=is-text-size-max
  $font-size: 2rem
  $line-height-ratio: 1.111111
  font-size: $font-size
  line-height: $font-size * $line-height-ratio


// text-size EXTRA LARGE
=is-text-size-x-large
  $font-size: 1.75rem
  $line-height-ratio: 1.111111
  font-size: $font-size
  line-height: $font-size * $line-height-ratio


// text-size LARGE
=is-text-size-large
  $font-size: 1.5rem
  $line-height-ratio: 1.111111

  font-size: $font-size
  line-height: $font-size * $line-height-ratio


// text-size MEDIUM
=is-text-size-medium
  $font-size: 1.25rem
  $line-height-ratio: 1.111111

  font-size: $font-size
  line-height: $font-size * $line-height-ratio


// text-size SMALL
=is-text-size-small
  $font-size: 1rem
  $line-height-ratio: 1.111111

  font-size: $font-size
  line-height: $font-size * $line-height-ratio


// text-size MINIMUM
=is-text-size-min
  $font-size: .75rem
  $line-height-ratio: 1.111111

  font-size: $font-size
  line-height: $font-size * $line-height-ratio
