// "Font Size" TOOLS - ITCSS Methodology


=font-size($font-size)
  // Font Sizes
  // $base-font-size: settings.font-size.sass
  // $line-height-ratio: settings.font-size.sass

  // Sizes
  $rem-font-size: $font-size / $base-font-size * 1rem
  $rem-line-height: $font-size * $line-height-ratio / $base-font-size * 1rem

  font-size: $rem-font-size $important-rule
  line-height: $rem-line-height $important-rule
